___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [2]:
def lesser_of_two_evens(a,b):
    if a%2==0 and b%2 ==0:
        return min(a,b)
    else:
        return max(a,b)

In [3]:
# Check
lesser_of_two_evens(2,4)

2

In [4]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [12]:
'''def animal_crackers(text):
    wordlist = text.split()
    if wordlist[0][0] == wordlist[1][0]:
        return True
    else:
        return False'''
    
    
def animal_crackers(text):
    wordlist = text.lower().split() # <-- add lowercase
    for i in range(len(wordlist)):
        if wordlist[i][0] == wordlist[i+1][0]:
            return True
        else:
            return False

In [13]:
# Check
animal_crackers('Levelheaded Llama')

True

In [14]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [18]:
def makes_twenty(n1,n2):
    if n1==20 or n2==20:
        return True
    elif sum((n1,n2))==20:
        return True
    else:
        return False

In [19]:
# Check
makes_twenty(20,10)

True

In [20]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [23]:
def old_macdonald(name):
    new_name = ''
    for l in range(len(name)):
        if l ==0 or l==3:
            new_name += name[l].upper()
        else:
            new_name += name[l].lower()
    return new_name

In [24]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [27]:
def master_yoda(text):
    my_list = []
    my_list = text.split()
    my_list.reverse()
    return " ".join(my_list)

In [28]:
# Check
master_yoda('I am home')

'home am I'

In [29]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [45]:
def almost_there(n):
    diff1 = 100 - n
    diff2 = 200 - n
    print(diff1, diff2)
    if abs(diff1) <= 10 or abs(diff2) <=10:
        return True
    else:
        return False

In [46]:
# Check
almost_there(104)

-4 96

True

In [47]:
# Check
almost_there(150)

-50 50

False

In [48]:
# Check
almost_there(209)

-109 -9

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [71]:
def has_33(nums):
    prev=''
    for i in range(len(nums)):
        print(i)
        if prev == nums[i] and nums[i]==3:
            return True
        else:
            pass
            
        prev = nums[i]
               
    return False

In [72]:
# Check
has_33([1, 3, 3])

0
1
2

True

In [73]:
# Check
has_33([1, 3, 1, 3])

0
1
2
3

False

In [74]:
# Check
has_33([3, 1, 3])

0
1
2

False

In [75]:
has_33([0,1,2,4,5,6])

0
1
2
3
4
5

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [78]:
def paper_doll(text):
    result = ''
    for i in range(len(text)):
        result += text[i]+text[i]+text[i]
    return result

In [79]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [80]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [85]:
def blackjack(a,b,c):
    if sum((a,b,c)) <= 21:
        return sum((a,b,c))
    else:
        if a==11 or b==11 or c==11:
            return sum((a,b,c))-10
        else:
            return 'BUST'

In [86]:
# Check
blackjack(5,6,7)

18

In [87]:
# Check
blackjack(9,9,9)

'BUST'

In [88]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [170]:
def summer_69(arr):
    res = 0
    start = 6
    end = 9
    start_index = 0
    end_index = 0
    for i in range(len(arr)):
        if arr[i] == start:
            start_index= i
        elif arr[i] ==  end:
            end_index = i
        else:
            pass

    print(start_index, end_index)
    if 6 in arr:
        for i in arr[:start_index]:
            res = res + i
        for i in arr[end_index+1:]:
            res = res + i
        return res
    else:
        for i in arr[:]:
            res = res + i
        return res

In [244]:
def summer_69(arr):
    res = 0
    flag = True
    
    for n in arr:
        while flag:
            if n !=6:
                res = res +n
                break
            else:
                flag= False
                
        while not flag:
            if n == 9:
                flag = True
                break
            else:
                break
    return res

In [245]:
# Check
summer_69([1, 3, 5])

9

In [246]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [247]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [214]:
def spy_game(nums):
    sub = [0,0,7]
    before = ''
    after = ''
    print("len of list",len(nums))
    for i in range(len(nums)):
        if (i == len(nums)-1):
            print('reached length')
            pass           
        else:
            print('set after',nums[i])
            after = nums [i+1]
        if before == nums[i] and nums[i] ==0:
            if after == 7:
                return True
            else:
                pass
        else:
            pass
        
        before = nums[i]
        
            
    return False   

# this is for exact 007 in consecutive order

In [224]:
def spy_game(nums):
    sub = [0,0,7,'x']
    
    for e in nums:
        if e == sub[0]:
            sub.pop(0)
    return len(sub)==1

In [225]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [226]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [227]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [236]:
def count_primes(num):
    primelist =[]

    for no in range(num+1):
        if no>1:
            for i in range(2,no):
                if (no%i) == 0:
                    break
            else:
                primelist.append(no)
            
    return len(primelist)

In [237]:
# Check
count_primes(100)

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [ ]:
def print_big(letter):
    pass

In [ ]:
print_big('a')

## Great Job!