In [1]:
0.1+0.2-0.3

5.551115123125783e-17

The history saving thread hit an unexpected error (DatabaseError('database disk image is malformed',)).History will not be written to the database.

In [2]:
0.1+0.2

0.30000000000000004

In [3]:
1/2

0.5

In [4]:
6^6

0

In [5]:
2^1

3

In [7]:
'hello'

'hello'

In [8]:
print('hello')

hello

In [9]:
'hello'
'hello pp'

'hello pp'

In [10]:
string = 'priyanka'

string[:4]

'priy'

In [12]:
string[1:5]

'riya'

In [13]:
string[0:]

'priyanka'

In [14]:
string[2:]

'iyanka'

In [15]:
string[-1]

'a'

In [16]:
string[::]

'priyanka'

In [17]:
string[::2]

'piak'

In [18]:
string[0:5:2]

'pia'

In [19]:
string[1::2]

'ryna'

In [20]:
string[::3]

'pyk'

In [21]:
string[::1]

'priyanka'

In [24]:
string[1::3]

'raa'

In [25]:
print('This is my {} and {}'.format('bat','ball'))

This is my bat and ball

In [26]:
print('This is my {0} and {1}'.format('bat','ball'))

This is my bat and ball

In [27]:
print('This is my {1} and {0}'.format('bat','ball'))

This is my ball and bat

In [28]:
p=100.123456789
print('price: {:.2f}'.format(p))

price: 100.12

In [29]:
p=100.123456789
print('price: {:.5f}'.format(p))

price: 100.12346

In [30]:
p=100.123456789
print('price: {:.6f}'.format(p))

price: 100.123457

In [31]:
p=100.123456789
print('price: {:10.2f}'.format(p))

price:     100.12

In [32]:
#f-strings literals

print(f'this is the price {p}')

this is the price 100.123456789

In [35]:
a = 'ball'
b = 'bat'
print(f'this is my {b} and {a}')

this is my bat and ball

In [36]:
#string are immutable whereas list are mutable

st = "Priyanka"
st[0] = 'S'

TypeError: 'str' object does not support item assignment

In [37]:
mylist = ['P', 'R','I','Y','A']
mylist[0] = 'S'
mylist

['S', 'R', 'I', 'Y', 'A']

In [ ]:
# Both Strings and List support Indexing and slicing

In [38]:
mylist.append(8)
mylist

['S', 'R', 'I', 'Y', 'A', 8]

In [39]:
mylist.append(100)
mylist

['S', 'R', 'I', 'Y', 'A', 8, 100]

In [40]:
mylist.pop() #returns the poped element (last one)

100

In [41]:
mylist

['S', 'R', 'I', 'Y', 'A', 8]

In [43]:
mylist = [1, 5, 100, 0, 2, 1, 3]
mylist.sort()
mylist

[0, 1, 1, 2, 3, 5, 100]

In [44]:
mylist.reverse()
mylist

[100, 5, 3, 2, 1, 1, 0]

In [45]:
mydict = {'Name':'pp', 'Age': 20, 'hobbies':['Singing', 'dancing', 1000]}
#dictionaries are unordered mappings of key-values pairs. whereas Lists are ordered 
# Hence dictionaries doesn't support indexing or slicing ..
#useful to retrieve easily using keys without knowing the location/index

#cannot be sorted or reversed unlike lists
mydict.keys()

dict_keys(['Name', 'Age', 'hobbies'])

In [46]:
mydict.values()

dict_values(['pp', 20, ['Singing', 'dancing', 1000]])

In [47]:
mydict.items()

dict_items([('Name', 'pp'), ('Age', 20), ('hobbies', ['Singing', 'dancing', 1000])])

In [49]:
mydict['hobbies'][1]

'dancing'

In [50]:
mydict['Age']=27
mydict

{'Name': 'pp', 'Age': 27, 'hobbies': ['Singing', 'dancing', 1000]}

In [52]:
mytuple = (1,2,3,4,5)
#supports index,slicing just like list but it is immutable. values cannot be changed

type(mytuple)

tuple

In [54]:
mytuple[0]

1

In [55]:
mytuple = ('PP',1,2,3,4,5)
mytuple[0]

'PP'

In [57]:
mytuple[3:]

(3, 4, 5)

In [58]:
mytuple[0]='QQ'

TypeError: 'tuple' object does not support item assignment

In [59]:
mylist[0]='QQ'
mylist

['QQ', 5, 3, 2, 1, 1, 0]

In [60]:
#tuple ahve very few methods associated with them

mytuple = ('a', 'a', 'b')
mytuple.count('a')

2

In [61]:
mytuple.index('a') #returns index location of the first occurrence of that element

0

In [62]:
mytuple.index('b')

2

In [63]:
#sets are unordered collection of unique elements

myset = set()

In [64]:
myset

set()

In [65]:
myset.add(1)
myset

{1}

In [67]:
myset.add(2)
myset

{1, 2}

In [68]:
myset.add(1)
myset

#doesn't add 1 again because it is already in the set..has only unique items

#elements are encapuslated within curly braces

{1, 2}